:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CLOUD: #F4F4FD;
}


body {
    font-family: 'Roboto', sans-serif;
}

/*  HEADER  */
.logo {
    color: var(--NAVY-BLUE);
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
span {
    color:#4D5AE5;
}

ul.menus {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
.menu {
    text-decoration: none;
}
.menu {
    color: var(--NAVY-BLUE)
}
a.menu.studio{
    color: var(--IRIS);
}

/* MAIN   */
/* EFFECTIVE SULOTION SECTION 1 */

section.sec1 {
    background-color: var(--NAVY-BLUE);
    width: 1440px;
    height: 200px;
    flex-shrink: 0;
}
h1 {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}
button {
    color: var(--WHITE,) #FFF;
    background-color: var(--IRIS);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* SECTION 2  Benefits and Goal*/

.goals {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/* SECTION 3  Whst are we doing*/
h2.Wedo {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    width: 1440px;
    height: 200px;
}
    
.wedoings {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/* SECTION 4 Our Team*/
h2.Ourteam {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;  
    width: 1440px;
    height: 200px;
}
.team {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

/*  FOOTER   */
footer {
    background-color: var(--NAVY-BLUE);
    width: 1440px;
    height: 100px;
} 

.logofooter {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

p.bottom {
    color: var(--CLOUD);
}